/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where([data-theme=dark], .app-dark-mode-class *));

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-favicon {
    width: auto;
    height: 48px;
    // filter: brightness(1.5) saturate(0.5);
}
